.modal {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  //   transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
}

.modal__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.modal__mid {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textarea {
  width: 80%;
  margin: 0% auto;
  background-color: #f6f6f6;
  border: 1px solid #f6f6f6;
  border-radius: 10px;
}

.textarea:focus {
  outline: 1px solid #f6f6f6;
}

.ratingcontainer {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 10px;
  padding: 0.8rem;
  border-radius: 999px;
}

.bottom__top {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.bottom__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.bottom__bottom > button {
  background: #bcfd49;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #bcfd49;
  width: 60%;
  padding: 0.9rem 1.2rem;
  border-radius: 10px;
  font-weight: 600;
  margin-bottom: 20px;
}

.checkcontainer > span {
  margin-left: 8px;
}
