@import "../../assets/css/colors";
@import "../../assets/css/font";
.homeBody {
  height: 100vh;
  width: 100vw;
  background: url("/images/graduation.jpg");
  position: relative;
  margin-top: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  justify-content: center;
  text-align: center;
  padding-top: 30px;
  h1 {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 77px;
    line-height: 90px;
    color: #ffffff;
  }
  p {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
  }
  h2 {
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 160%;
  }

  .dropdowns {
    border-radius: 20px;
    width: 50%;
    margin: auto;
    display: flex;
    background-color: #fff;
    margin-top: 70px;
    display: flex;

    align-items: center;
    .overlay {
      display: none;
    }
    .dropdown {
      background-color: transparent;
      flex: 0.3;
    }

    .dropdownBtn {
      background-color: $primary-color;
      border-radius: 20px;
      border: none;
      width: 120px;
      margin-left: 10px;
    }
  }
}
