.moduleMain {
  .moduleCont {
    .topDiv {
      background-image: url("/images/chairs.jpg");
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 30%;
    }
  }
}
